server {
    listen 80;
    listen [::]:80;

    client_max_body_size ${CLIENT_MAX_BODY_SIZE};

    location / {
        proxy_pass       ${TARGET_SCHEME}://${TARGET_HOST}:${TARGET_PORT};
        proxy_redirect   off;
        proxy_set_header Host ${DOLLAR}host;
        proxy_set_header X-Real-IP ${DOLLAR}remote_addr;
        proxy_set_header X-Forwarded-For ${DOLLAR}proxy_add_x_forwarded_for;
    }
}
